$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// **********************
// SETTINGS FOR BODY
// **********************
body { 
    text-align: center;
    font: Georgia;
    font-family: 'Times New Roman', Times, serif;
    background-color: #222;
    color: #aaa;
}
a {
    color: #aaa;
}
main {
    min-height: 600px;
}

// **********************
// SETTINGS FOR HEADING
// **********************f
h1 {
    padding-bottom: 100px;
    font-size: 72px;
    color: #aaa;
}

// **********************
// SETTINGS FOR sign in / sign up
// **********************
.signInUp {
    color: #aaa;
    text-shadow: 2px 2px #111;
    background-image: url('../../images/bg2.jpg');
    height: 75%; 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
input {
    margin: 2px; 
}
#sign-up {
    padding: 20px;
}
#sign-in {
    padding: 20px;
}

// **********************
// SETTINGS FOR GAMEBOARD
// **********************
#gameboard {
    display: none;		
}
table {
    margin: auto;
    font-size: 70px;
}
tr {
    height: 120px;
}
td {
    width: 120px;
}
.row1 {
    border-bottom: 4px solid #aaa;
}
.row2 {
    border-bottom: 4px solid #aaa;
}
.col1 {
    border-right: 4px solid #aaa;
}
.col2 {
    border-right: 4px solid #aaa;
}

// **********************
// SETTINGS FOR SCORE
// **********************
#score {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 24px;
}

// **********************
// SETTINGS FOR USER INFO DISPLAY
// **********************
#message {
    padding-top: 70px;
    padding-bottom: 40px; 
    font-size: 24px;
}

.userInfo {
    display: none;
    padding: 5px;
}
#sign-out {
    display: inline;
}
#change-password {
    display: none;
}
.userButtons {
   display: none;		
}

// **********************
// SETTINGS FOR FOOTER
// **********************
footer {
    position: absolute;
    width: 100%;
    color: #aaa;
    margin-top: 100px;
    color: #222;
    background-image: url('../../images/bg2.jpg');
    height: 15%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// **********************
// SETTINGS FOR WELCOME
// **********************
.welcome {
    // background: black;
    padding: 400px 0;
    background-image: url('../../images/bg1.jpg');
    height: 100%; 
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: #222;
}

// **********************
// SETTINGS FOR RESET BUTTONS
// **********************
.button {
    margin: 0 5px;
    background-color: #444; /* Green */
    border: none;
    color: #aaa;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttons {
    margin: 20px 5px 5px 5px;
    padding-bottom: 20px;
}

// **********************
// SETTINGS FOR LINK TO PHOTOGRAPHERS
// **********************
.credit {
    position:absolute;
    bottom:0;
    right:0;
}

// **********************		
// SETTINGS FOR OLD GAMES		
// **********************		
#view-games {		
    margin: 5px;		
    display: none;		
}
#view-games > p {		
    display: inline-block;		
    padding: 5px;		
    margin: 5px;		
}		

// **********************		
// SETTINGS FOR CHANGE PASSWORD		
// **********************		
#change-password {		
    margin: 5px;		
}

#changedPassword {
    margin-top: 10px;
    // padding: 10px;
    // width: 475px;
    background-image: url('../../images/bg2.jpg');
    height: 15%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #eee;
    text-shadow: 2px 2px 4px #111;
    font-size: 24px;
}

// **********************		
// SETTINGS FOR USER SIGN UP / IN / OUT	
// **********************	
#userMessage {
    background-image: url('../../images/bg2.jpg');
    height: 15%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #eee;
    text-shadow: 2px 2px 4px #111;
    font-size: 24px;
}