$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Cardo|Cinzel|Glegoo|Josefin+Slab|Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Abel|Chathura|Economica|Khand|Open+Sans+Condensed:300|Pathway+Gothic+One');

// **********************
// SETTINGS FOR BODY
// **********************
body { 
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    // font-family: 'Abel', sans-serif;
    // font-family: 'Pathway Gothic One', sans-serif;
    // font-family: 'Khand', sans-serif;
    // font-family: 'Economica', sans-serif;
    // font-family: 'Chathura', sans-serif;
    background-color: #222;
    color: #eee;
    text-shadow: 2px 2px 4px #111;
}
a {
    color: #bbb;
}
main {
    min-height: 600px;
}

// **********************
// SETTINGS FOR HEADING
// **********************f
h1 {
    padding-bottom: 100px;
    font-size: 72px;
    // font-family: 'Glegoo', serif;
    // font-family: 'Cinzel', serif;
    // font-family: 'Cardo', serif;
    font-family: 'Josefin Slab', serif;
    // font-family: 'Vidaloka', serif;
    color: #bbb;
}

h2, h3 {
    // font-family: 'Glegoo', serif;
    // font-family: 'Cinzel', serif;
    // font-family: 'Cardo', serif;
    font-family: 'Josefin Slab', serif;
    // font-family: 'Vidaloka', serif;
}



// **********************
// SETTINGS FOR sign in / sign up
// **********************
.signInUp {
    background-image: url('../../images/bg2.jpg');
    height: 75%; 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #aaa;
}
input {
    margin: 2px; 
}
#sign-up {
    padding: 20px;
}
#sign-in {
    padding: 20px;
}

// **********************
// SETTINGS FOR GAMEBOARD
// **********************
#gameboard {
    display: none;		
}
table {
    margin: auto;
    font-size: 70px;
}
tr {
    height: 120px;
}
td {
    width: 120px;
}
.row1 {
    border-bottom: 4px solid #bbb;
}
.row2 {
    border-bottom: 4px solid #bbb;
}
.col1 {
    border-right: 4px solid #bbb;
}
.col2 {
    border-right: 4px solid #bbb;
}

// **********************
// SETTINGS FOR SCORE
// **********************
#score {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 24px;
}

// **********************
// SETTINGS FOR USER INFO DISPLAY
// **********************
#message {
    padding-top: 70px;
    padding-bottom: 40px; 
    font-size: 24px;
}
.userInfo {
    display: none;
    padding: 15px;
    background-color: #111;
}
#sign-out {
    display: inline;
}
#change-password {
    display: none;
}
.userButtons {
   display: none;		
}

// **********************
// SETTINGS FOR FOOTER
// **********************
footer {
    position: absolute;
    width: 100%;
    background-image: url('../../images/bg2.jpg');
    height: 15%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer > p {
    line-height: 50px;
}

// **********************
// SETTINGS FOR WELCOME
// **********************
.welcome {
    // background: black;
    padding: 400px 0;
    background-image: url('../../images/bg1.jpg');
    height: 100%; 
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

// **********************
// SETTINGS FOR RESET BUTTONS
// **********************
.button {
    margin: 0 5px;
    background-color: #444;
    border: none;
    color: #bbb;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttons {
    margin: 20px 5px 5px 5px;
    padding-bottom: 20px;
}

// **********************
// SETTINGS FOR LINK TO PHOTOGRAPHERS
// **********************
.credit {
    position:absolute;
    bottom:0;
    right:0;
}

// **********************		
// SETTINGS FOR OLD GAMES		
// **********************		
#view-games {		
    margin: 5px;		
    display: none;		
}
#view-games > p {		
    display: inline-block;		
    padding: 5px;		
    margin: 5px;		
}		

// **********************		
// SETTINGS FOR CHANGE PASSWORD		
// **********************		
#change-password {		
    margin: 5px;	
    color: #aaa;	
}
#changedPassword {
    margin-top: 10px;
    background-image: url('../../images/bg2.jpg');
    height: 15%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
}

// **********************		
// SETTINGS FOR USER SIGN UP / IN / OUT	
// **********************	
#userMessage {
    background-image: url('../../images/bg2.jpg');
    height: 15%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 24px;
}